<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="field" style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="
  itle, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="container">
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="container">
    <%= form.submit %>
  </div>
<% end %>
